<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0 user-scalable=no"/>

    <link rel="icon" href="/images/favicon.png">
    <title><%= htmlWebpackPlugin.options.title %></title>
      <link href="https://cdn.jsdelivr.net/npm/font-awesome@4.x/css/font-awesome.min.css" rel="stylesheet">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;1,300&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
      <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

      <script  defer src="https://unpkg.com/swiper/swiper-bundle.js"></script>
      <script defer src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<!--      <script-->
<!--              src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBm_HHdbB9mjZ8OuxrWCu-7FC_ce_PCZBI&callback=initMap&libraries=&v=weekly"-->
<!--              defer-->
<!--      ></script>-->


  </head>
  <body>

  <!-- GetButton.io widget -->
  <script type="text/javascript">
    (function () {
      var options = {
        facebook: "102479301664003", // Facebook page ID
        whatsapp: "7722493796", // WhatsApp number
        call_to_action: "Message us", // Call to action
        button_color: "#000000", // Color of button
        position: "right", // Position may be 'right' or 'left'
        order: "facebook,whatsapp", // Order of buttons
        pre_filled_message: "Hello ", // WhatsApp pre-filled message
      };
      var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
      var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
      s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
      var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();
  </script>
  <!-- /GetButton.io widget -->
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->

    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-595f7dad07e72d1b"></script>
  </body>
</html>
